@import "tailwindcss";

:root {
    --swiper-navigation-size: 22px;
}

.wtsapp {
    position: fixed;
    transform: all .5s ease;
    background-color: #25d366;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    border: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.wtsapp:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 3000ms ease-out infinite;
}

.wtsapp:focus {
    border: none;
    outline: none;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #f0fdf4;
    border-radius: 50%;
    color: #84cc16 !important;
    width: 45px !important;
    height: 45px !important;
    padding: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* global css / index.css */
.brands .swiper-wrapper {
    transition-timing-function: linear !important;
}
.hero-bg{
    background-image: url("./assets/bg/What-are-the-Benefits-of-Solar-Panel-Installation.jpg");
}


@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
}